
*{
  margin: 0px;
  padding: 0px;
}
.nav-div{
  z-index: 10;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background-color: #242526;
}
.nav-1st-div{
  /* margin-left: 10px; */
  display: flex;
  align-items: center;
  /* width:auto; */
  background-color: #242526;
  height: 100%;
}
.nav-2nd-div{
  margin-left: 10px;
  display: flex;
  width:40px;
  height: 80%;

  /* height:100%; */
  background-color: white;
  border-radius:30px;
}
.fb-icon{
  width: 100%;
  height: 100%;
}
.input-div{
  margin-left: 10px;
  border: none;
  background-color: #3a3b3c;
  width: 20vmax;
  height: 60%;
  border-radius: 20px;
}
.icons-div{
  display: flex;
  justify-content: space-around;
  width: 40%;
  /* background-color: aliceblue; */
  height: 100%;
}
.icon-sizing{
  color: #b0b3b8;
  font-size: 30px !important;
  /* background-color: aqua; */
  height: 100% !important;
}
.profile-div{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 200px;
  /* background-color: aqua; */
  height: 100%;
}
.profile-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 50px;
  border-radius: 100%;
  height: 80%;
  background-color: rgb(58 59 60);
}
.profile-icon-style{
  color: white;
  font-size: 2vmax !important;
}
.profile-sizing{
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.side-bar-main{
  overflow: scroll;
  padding-top: 80px;
  width:95%;
  height: 100vh;
  margin-left: 5%;
  background-color:#18191a;
}
.side-bar-main::-webkit-scrollbar{
  display: none;
}
.li-sizing{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 8vh;
  border-radius: 15px;
  /* background-color: aqua; */
}
.li-sizing:hover{
  transition: 0.4s;
  background-color:#3a3b3c;
}
.sid-bar-profile{
  color: white;
  width: 3vmax;
  height: 3vmax;
  border-radius: 100%;
}
.side-bar-text{
  font-size: 1vmax !important;
  color: white;
  font-weight: 800;
  width: 80%;
  /* background-color: rgb(238, 229, 229); */
}
.side-bar-text-icon{
  font-size: 2vmax !important;
  color: #b0b3b8;
}
.time-line{
  /* position: relative;
  left: 50%; */
  
  margin-top: 20px;
  border-radius: 10px;
  width: 70%;
  height: auto;
  /* background-color:blue; */
}
.sidebar-timline-seeting{
  display: flex;
  justify-content: center;
  padding-top: 60px;
  margin-left: 23.5%;
  width: 57%;
  background-color:#18191a;
/* display: flex; */

}
.silde-bar-width{
  z-index: 0;
  position: fixed;
  width: 23.5%;
  background-color: #18191a;
}
.time-line-option-div{
  display: flex ;
  align-items: center;
  width: 100%;
  height: 25%;
  border-bottom: 0.1px solid #b0b3b8;
  background-color: #242526;
  border-radius: 10px 10px 0px 0px;
}
.time-line-option-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  height: 100%;
  /* background-color: aliceblue; */
}
.time-line-option-icon-div{
  display: flex;
  width: 20%;
  /* height: 100%; */
  /* background-color: rgb(2, 22, 22); */
}
.time-line-option-icon-text{
  width: 30%;
  /* height: 100%; */
  /* background-color: rgb(97, 126, 126); */
}
.time-line-option-icon-font{
  font-size: 1vmax;
  font-weight: 700;
  color: #b0b3b8;
}
.time-line-option-icon-color{
  font-size: 2vmax !important;
  color:#b0b3b8;
}
.timr-line-stories{
  width: 100%;
  height: 22vmax;
  background-color: #242526;
  border-radius: 10px 10px 10px 10px;
}
.stories-div{
  display: flex;
  align-items: center;
  width: 100%;
  height: 75%;
  /* background-color: aliceblue; */
}
.stories-main{
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 80%;
  background-color: white;
  background-image: url(./Assest/img/profile1.jpg);
  margin-left: 15px;
  border-radius: 10px;
  /* background-size: 100%; */
  /* background-repeat: no-repeat; */
  background-size: 100% 100%;
}
.stories-profile-image{
  border-radius: 10px 10px 0px 0px ;
  width: 100%;
  height: 75%;
} 
.stories-main-text{
  width: 100%;
  height: 25%;
  border-radius: 0px 0px 10px 10px;
  background-color: #242526;
}
.storie-icon{
  width: 40% !important;
  border-radius: 150px !important;
  height: 80% !important;
  background-color:#242526;
  color: rgb(15, 104, 238);
  position: relative;
  left: 35%;
  top: -50%;
}
.stiroe-text-icon{
  width: 100%;
  position: relative;
  bottom: 50%;
  font-weight: 700  ;
  left: 15%;
  font-size: 1vmax;
  color: white;
}
.profile-icon-on-story{
  position: relative;
  left: 5%;
  top: 5%;
  border: 2px solid white;
  width: 30%;
  height: 20%;
  border-radius: 100%;
  /* background-color: rgb(5, 71, 71); */
  z-index: 1;
}
.profile-icon-image-onstory{
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.profile-icon-image{
  z-index: 0;
  position: relative;
  /* bottom: 10%; */
  width: 100%;
  height:100%;
}
.red-colour{
  color: red !important;
}
.green-colour{
  color: green !important;
}
.yellow-colour{
  color:  yellow !important;
}
.post-bar-main-div{
  width: 100%;
  border-radius: 10px;
  height: 8vmax;
  margin-top: 20px;
  background-color:#242526;
}
.post-searchbar-div{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:100%;
  height: 50%;
  /* background-color: aqua; */
  border-bottom: 1px solid #b0b3b8;
}
.postbar-profile-icon{
  width: 10%;
  border-radius: 100%;
  height: 80%;
}
.postbar-profile-search{
  width:75%;
  background-color:#3a3b3c;
  color: #b0b3b8;
  border: none;
  height: 70%;
  border-radius: 20px;
  font-size: 1vmax;
  padding-left: 20px;
}
.post-bar-main-option{
  display: flex;
  align-items: center;
  justify-content:center;
  width: 100%;
  height: 50%;
  /* background-color: aqua; */
}
.post-bar-icon-setting{
  margin-right: 4px;
  font-size: 2vmax !important;
}
.button-search-option{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32%;
  height: 80%;
  border-radius: 12px;
  /* background-color: azure; */
}
.button-search-option-text{
  font-weight: 800;
  font-size: 1vmax;
  color: #b0b3b8;
}
.button-search-option:hover{
  transition: 0.3s;
  background-color: #3a3b3c;
}
.timeline-post-div{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 45vmax;
  margin-top: 20px;
  background-color:#242526;
  border-radius: 10px;
}
.timeline-profile-div-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  /* background-color: aqua; */
}
.timeline-icon-div{
  display: flex;
  align-items: center;
  width: 95%;
  height: 80%;
  /* background-color: #3a3b3c; */
}
.timeline-icon-image{
  width: 11%;
  border-radius:100% ;
  height: 100%;
}
.timeline-image-icon-text{
  padding-left: 3%;
  font-size: 1.5vmax;
  color:#b0b3b8;
  font-weight: 700;
  width: 66%;
  /* background-color:aqua ; */
}
.cut-icon-div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
  color:#b0b3b8;
  /* background-color: aquamarine; */

}
.profile-image-scen{
  width: 100%;
  height: 75%;
}
.end-div-like{
  width: 100%;
  height: 15%;
  /* background-color: aqua; */
}
.like-comment-share-div{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50%;
  /* background-color: #3a3b3c; */
  border-bottom: 1px solid #b0b3b8;
}
.likes-icon-text-div{
  display: flex;
  width: 45%;
  height: 70%;
  /* background-color: antiquewhite; */
}
.likes-image-icon{
  display: flex;
  width: 15%;
  color: rgb(5, 67, 92);
  height: 100%;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
}
.icon-iamge-setting{
  font-size: 2vmax !important;
}
.icon-iamge-setting1{
  color:#b0b3b8;
  font-weight: 600;
  font-size: 1vmax;
}
.comment-share-div{
  display: flex;
  align-items: center;
  width: 45%;
  height: 70%;
  /* background-color: aliceblue; */
}
.comment-num-div{
  display: flex;
  justify-content: end;
  align-items: center;
  width:50%;
  height: 80%;
  /* background-color: aqua; */
}
.comment-num-text{
  font-size: 1vmax;
  color: #b0b3b8;
  font-weight: 700;
}
.profile-like-comment-share-div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  /* background-color: aqua; */

}
.profile-like-main-div{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width:31% ;
  height: 80%;
  /* background-color: aqua; */
}
.profile-like-main-div:hover{
  background-color: #3a3b3c;
}
.like-icon-setting{
  font-size: 1vmax;
  color: #b0b3b8;
  font-weight: 800;
  margin-left: 5%;
}
.icon-like-give{
  font-size: 1.5vmax !important;
  color: #b0b3b8;
}
.last-option-memu{
  position: fixed;
  width:20%;
  overflow: scroll;
  /* overflow: hidden; */
  /* top: 9.4%; */
  padding-top: 60px;
  left: 80%;
  height: 100vh;
  background-color:#18191a;
}
.last-option-memu::-webkit-scrollbar{
  display: none;
}
.jabba-123{ 
  display:flex
}
.right-bar-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4vmax;
  /* background-color:  aqua; */
}
ul,li{
  list-style-type: none;
}
.right-bar-text{
  font-size: 1.2vmax;
  font-weight: 700;
  color: #b0b3b8;
}
.right-bar-text-icon{
  color: #b0b3b8;
  font-size: 2vmax !important;
}
.right-bar-main-oprion{
  border-radius: 10px;
  padding-left: 5%;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  width: 90%;
  height: 3vmax;
  margin-bottom: 4px;
  /* background-color: rgb(25, 117, 117); */
}
.right-bar-main-oprion:hover{
  background-color: #242526;
}
.side-bar-option-text{
  margin-left: 2%;
  font-size: 1.2vmax;
  font-weight: 500;
  color: #b0b3b8;
}
.side-bar-option-icon{
  font-size: 2vmax !important;
  color: #b0b3b8;
}
.hello-frnds{
  border-bottom: 1px solid #b0b3b8;
  padding-bottom:30px;
  /* background-color: aqua; */
}
.timeline-cut-icon{
  font-size: 2vmax !important;
}
@media screen and (max-width: 510px) {

  .icons-div{
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .side-bar-main{
    display: none;
  }
  .last-option-memu{
    display: none;
  }
  .sidebar-timline-seeting {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    margin-left: 0%;
    width: 100%;
    background-color: #18191a;
    /* display: flex; */
}
}